/* ========Common styles======== */
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color:inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
}
.container{
    max-width: 1158px;
    padding:0 15px;
    margin: 0 auto;
}
.header-container{
    display:flex;
    align-items: center;
}
.section-paddings{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ========Header styles======== */
.page-header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu-link:hover,
.menu-link:focus{
    color: #9747FF;
    color: #404bbf;
}
.contact-list-link:hover,
.contact-list-link:focus{
    color: #9747FF;
    color: #404bbf;
}
.page-navigation{
    display: flex;
    align-items: center;
}
.menu{
    display:flex;
    gap: 40px;
}
.contact-list-list{
    display: flex;
    gap: 40px;
}
.page-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.color-logostudio{
    color:#2e2f42;
}
.menu-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    color: #404bbf;
}
.current::after{
    position: absolute;
    left: 0;
    bottom: -1px;
    content:"";
    border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;;
}
.contact-list-link{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-block{
    font-style: normal;
    margin-left: auto;
}
/* ========Hero styles======== */
.hero{
    background-color: #2e2f42;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundheader/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
.main-title{
    margin: auto;
    max-width: 496px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        margin-bottom:48px;
}
.order-service{
    display: block;
    min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        margin: 0 auto;
        border-radius: 4px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
    background-color: #404BBF
}

/* ========Benefits styles======== */
.benefits{
    padding: 120px 0;
}
.benefits-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

.benefits-list-title{
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.benefits-list-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.benefits-list-item{
    width: calc((100% - 72px) / 4);
}
.benefits-icon-total{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
/* ========Team styles======== */
.team-background{
    background-color: #f4f4fd;
}
.team-photos{
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title{

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}
.team-names{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-roles{
    text-align: center;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.team-background-photos{
    display: flex;
    gap: 24px;
}
.our-team-description{
    padding: 32px 0;
}
.social-list-team{
    display:flex;
    justify-content: center;
    gap: 24px;
}
.social-list-item-team{
    width: 40px;
    height: 40px;
}
.social-list-link-team{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-team:hover,
.social-list-link-team:focus {
    background-color:#404bbf;
}
.social-list-icon-team{
    fill: #f4f4fd;
}
/* ========Potrfolio styles======== */

.portfolio-list-list{
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portfolio-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}
.portfolio-list{
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-categories{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.portfolio-photos {
    width: calc((100% - 48px) / 3);
    height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-description{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.overlay{
    position: relative;
    overflow: hidden;

}
.overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
        height: 100%;
        transform: translateY(100%);
        background-color: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 32px;
            padding-right: 32px;
}
.portfolio-photos:hover .overlay-text{
    transform: translateY(0%);
    
}
.portfolio-photos:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ========Footer styles======== */
.page-footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        line-height: 1.17;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: inline-block;
}
.footer-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.color-studio{
   color: #f4f4fd
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-logo-text{
    margin-right: 120px;
}
.social-list-link{
    width:100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: #31d0aa;
}
.social-list{
    display: flex;
    gap: 16px;
}
.social-media{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.social-list-icon{
    fill:#f4f4fd;
}
.social-list-item{
    width:40px;
    height:40px;
}
.subscribe-form-form {
    margin-left: 80px;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}
.subscribe-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.subscribe-form-input{
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        color: #ffffff;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-input::placeholder{
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}
.subscribe-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    padding: 8 24px;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 24px;
}
.send-icon{
    fill: #fff;
    margin-left: 16px;

}
/* ========Backdrop styles======== */
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.backdrop.is-open{
    opacity: 1;
        visibility: visible;
}
.modal{
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
    
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color:#404bbf;
    fill:#fff;
    border: none;
}
.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description{
    max-width: 360px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.review-form-field-wrapper{
    margin-bottom: 8px;
}
.review-form-field-wrapper-comment{
    margin-bottom: 16px;
}
.review-form-field-label{
    display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}
.review-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus{
    border-color:#4d5ae5;
    outline: transparent;
}
.review-form-input:focus + .review-form-field-icon{
    fill:#4d5ae5;
}

.review-form-input-wrapper{
    position: relative;
    margin-bottom: 8px;
}
.review-form-field-icon{  
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        outline: transparent;
        background-color: transparent;
        resize: none;
        padding: 8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message:focus{
    border-color:#4d5ae5;
    outline: transparent;

}
.review-form-message::placeholder{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}
.review-form-checkbox-label{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.privacy-policy-link{
    text-decoration: underline;
    color:#4d5ae5;
}
.review-form-checkbox-wrapper{
    margin-bottom: 24px;
}
.review-form-own-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    width: 16px;
    height:16px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox{
   background-color: #404bbf;;
   border-color: #4d5ae5;
border: none;
   fill: #F4F4FD;
}
.review-form-checkbox:focus + .review-form-checkbox-label .review-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}
.review-form-submit{
    display: block;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        margin: 0 auto;
        border: none;
        background-color: #4d5ae5;
        color: #ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-own-checkbox-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    