/* ========Common styles======== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px){
    .container{
        max-width: 736px;
    }
}
@media screen and (min-width: 1158px){
    .container{
        max-width:1158px;
    }
}
/* ========Header styles======== */
.page-header{
    padding-top: 16px;
    padding-bottom: 16px;
}
.page-header-menu{
    display: none;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.contact-list-list{
    display: none;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.color-logostudio {
    color: #2e2f42;
}
.mobile-open-btn{
    line-height: 0;
    border:none;
    background-color: transparent;
    padding:0;
}

.mobile-menu{
    position: fixed;
    top:0;
    left:0;
    z-index: 999999;
    width:100%;
    height:100%;
    background-color:#fff;
    color: #2e2f42;
    overflow-y: auto;
    transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    transform: translateX(0%);
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}
.mobile-menu-close-btn{
    position: absolute;
    top:24px;
    right:24px;
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}
.mobile-list-link{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.contact-block-mobile{
font-style: normal;
margin-left: auto;
}
.current {
    color: #404bbf;
}
.contact-list-link-mobile{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.contact-list-link-mobile:hover,
.contact-list-link-mobile:focus {
    color: #9747FF;
    color: #404bbf;
}
.social-list-mobile {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-list-item-mobile {
    width: 40px;
    height: 40px;
}

.social-list-link-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and(min-width:768px){
    .mobile-open-btn{
        display:none;
    }
}
.page-header-menu {
    display: flex;
}

.contact-list-list {
    display: flex;
    gap: 40px;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-container{
    display: flex;
    align-items: center;
    column-gap: 120px;
}
.page-navigation {
    display: flex;
    align-items: center;
}
@media screen and(min-width:1168px) {
    
    }